<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfs.admin.dao.AgentInfoDao">

	<!--客户信息 -->
	<resultMap type="com.lfs.admin.model.entity.AgentInfoEntity" id="agentMap">
		<id property="id" column="id" />
		<result property="agtName" column="agt_name" />
		<result property="applyTime" column="apply_time" />
		<result property="agtPhone" column="agt_phone" />
		<result property="agtNo" column="agt_no" />
		<result property="saler" column="saler" />
		<result property="parentId" column="parent_id" />
		<result property="agtOfficeAddr" column="agt_office_addr" />
		<result property="linkName" column="link_name" />
		<result property="linkMobile" column="link_mobile" />
		<result property="remark" column="remark" />
		<result property="agtType" column="agt_type" />
		<result property="idCard" column="id_card" />
		<result property="state" column="state" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<!-- 查询客户列表详情 -->
	<select id="queryAgentList" parameterType="com.lfs.admin.model.vo.AgentInfoVO" resultType="com.lfs.admin.model.entity.AgentInfoEntity">
		select id,agt_no agtNo,agt_phone agtPhone,agt_name agtName,link_name linkName,
		date_format(apply_time,'%Y-%m-%d %T') applyTime,agt_type agtType,
		agt_office_addr agtOfficeAddr, link_mobile linkMobile,state from lfs_agent
		where del_flag = 0
		<if test="agtName!=null and agtName!=''">
			and agt_name = #{agtName}
		</if>
		<if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
			and date_format(apply_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
		</if>
		<if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
			and date_format(apply_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
		</if>
		<if test="agtPhone!=null and agtPhone!=''">
			and agt_phone =#{agtPhone}
		</if>
		<if test="null != state and state != -1	">
			and state =#{state}
		</if>
		<if test="null != agtType and agtType != -1	">
			and agt_type =#{agtType}
		</if>
		order by apply_time desc
	</select>

	<select id="getAgentInfo" parameterType="java.lang.Integer" resultType="com.lfs.admin.model.entity.AgentInfoEntity">
		select id,agt_no agtNo,agt_phone agtPhone,agt_name agtName,link_name linkName,
		date_format(apply_time,'%Y-%m-%d %T') applyTime,agt_type agtType,
		agt_office_addr agtOfficeAddr, link_mobile linkMobile,link_email linkEmail,state
		from lfs_agent
		where id = #{id}
	</select>

	<!-- 查询客户列表下拉框 -->
	<select id="querySelectList" parameterType="com.lfs.admin.model.vo.AgentInfoVO" resultType="com.lfs.admin.model.entity.AgentInfoEntity">
		select id,agt_phone agtPhone,agt_name agtName,link_name linkName,state
		from lfs_agent
		where 1=1
		<if test="null != agtType and -1 != agtType">
			and agt_type = #{agtType}
		</if>
		order by apply_time desc
	</select>

	<select id="queryAgtAccessList" resultType="com.lfs.admin.model.entity.AgtAccessEntity" parameterType="com.lfs.admin.model.vo.AgentInfoVO" >
		select c.id, c.agt_no agtNo,c.app_id appId,c.app_key
		appKey,a.agt_phone agtPhone,a.agt_name agtName,app_type appTyppe
		from lfs_agtaccess c,lfs_agent a
		where c.agt_no =  a.agt_no
		<if test="agtPhone!=null and agtPhone!=''">
			and a.agt_phone = #{agtPhone}
		</if>
		<if test="agtName!=null and agtName!=''">
			and a.agt_name like CONCAT('%',#{agtName},'%')
		</if>
	</select>

	<select id="checkPhoneUnique" parameterType="String" resultMap="agentMap">
		select id, link_mobile from lfs_agent where link_mobile = #{linkMobile} limit 1
	</select>

	<select id="checkEmailUnique" parameterType="String" resultMap="agentMap">
		select id, link_email from lfs_agent where link_email = #{linkEmail} limit 1
	</select>

	<select id="checkAgtNameUnique" parameterType="String" resultMap="agentMap">
		select id, agt_name from lfs_agent where agt_name = #{agtName} limit 1
	</select>

	<update id="updateAgentInfo" parameterType="com.lfs.admin.model.vo.AgentInfoVO">
		update lfs_agent
		<set>
			<if test="null != agtName and '' != agtName">
				agt_name = #{agtName},
			</if>
			<if test="null != linkName and '' != linkName">
				link_name = #{linkName},
			</if>
			<if test="null != agtType and '' != agtType">
				agt_type = #{agtType},
			</if>
			<if test="null != state and state != -1">
				state = #{state},
			</if>
			<if test="null != remark">
				remark = #{remark},
			</if>
			<if test="null != linkMobile">
				link_mobile = #{linkMobile},
			</if>
			<if test="null != linkEmail">
				link_email = #{linkEmail},
			</if>
			<if test="null != agtOfficeAddr">
				agt_office_addr = #{agtOfficeAddr},
			</if>
			update_time = now()
		</set>
		where id = #{id}
	</update>

	<update id="refreshAppKey" parameterType="com.lfs.interfaces.model.vo.AgtAccessVo">
		update lfs_agtaccess set app_key = #{appKey} where agt_no = #{agtNo}
	</update>

	<update id="updateAgentStatus" parameterType="com.lfs.admin.model.vo.AgentInfoVO">
		update lfs_agent set state = #{state} where id = #{id}
	</update>

	<select id="getAgtAccessInfo" parameterType="com.lfs.interfaces.model.vo.AgtAccessVo" resultType="com.lfs.interfaces.model.AgtAccess">
		select app_id appId,app_key appKey,app_type appType,agt_no agtNo from lfs_agtaccess where agt_no = #{agtNo}
	</select>

	<insert id="addAgentInfo" parameterType="com.lfs.admin.model.vo.AgentInfoVO">
		insert into lfs_agent
		(agt_name,apply_time,agt_phone,agt_no,saler,parent_id,agt_office_addr,link_name,link_mobile,link_email,
		remark,agt_type,id_card,update_time,state,del_flag)
		values
		(#{agtName},now(),#{agtPhone},#{agtNo},#{saler},#{parentId},#{agtOfficeAddr},
		#{linkName},#{linkMobile},#{linkEmail},#{remark},#{agtType},#{idCard},now(),0,0)
	</insert>

	<!-- 新增代理钱包余额 -->
	<insert id="insertAgtWallet" parameterType="com.lfs.interfaces.model.AgtWallet">
		insert into
		lfs_agt_wallet
		(agt_phone, credit, profit, freeze, last_time)
		values
		(#{agtPhone}, 0, 0, 0, now())
	</insert>

	<insert id="insertAgtAccess" parameterType="com.lfs.interfaces.model.AgtAccess">
		insert into
		lfs_agtaccess
		(agt_no,app_id,app_key,app_type)
		values
		(#{agtNo},#{appId},#{appKey},#{appType})
	</insert>

	<!-- 插入代理商安全相关 -->
	<insert id="insertAgtSecurity" parameterType="com.lfs.interfaces.model.AgtSecurity">
		insert into
		lfs_agtsecurity
		(agt_no,login_pwd,trade_pwd,screen_switch)
		values
		(#{agtNo},#{loginPwd},#{tradePwd},0)
	</insert>
	
	<delete id="deleteAgentInfo" parameterType="java.lang.Integer">
		update lfs_agent set del_flag = '2' where id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>