<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfs.admin.dao.AppAuthInfoDao">

	<!--收款账户信息 -->
	<resultMap type="com.lfs.admin.model.entity.AppAuthInfoEntity" id="appAuthMap">
		<id property="id" column="id" />
		<result property="agtAppId" column="agt_app_id" />
		<result property="agtAppAccount" column="agt_app_account" />
		<result property="developAppId" column="develop_app_id" />
		<result property="accountType" column="account_type" />
		<result property="companyId" column="company_id" />
		<result property="appAuthCode" column="app_auth_code" />
		<result property="appAuthToken" column="app_auth_token" />
		<result property="appRefreshToken" column="app_refresh_token" />
		<result property="expiresIn" column="expires_in" />
		<result property="createTime" column="create_time" />
		<result property="remark" column="remark" />
		<result property="state" column="state" />
	</resultMap>

	<!-- 查询收款账户列表 -->
	<select id="queryAppAuthList" parameterType="com.lfs.admin.model.vo.AppAuthInfoVO" resultType="com.lfs.admin.model.entity.AppAuthInfoEntity">
		select baat.id,agt_app_id agtAppId,agt_app_account agtAppAccount,develop_app_id developAppId,bc.company_name companyName,
		app_auth_code appAuthCode,app_auth_token appAuthToken, app_refresh_token appRefreshToken,
		expires_in expiresIn,re_expires_in reExpiresIn,remark,state,date_format(baat.create_time,'%Y-%m-%d %T') createTime
		from lfs_app_auth_token baat
		LEFT JOIN lfs_company bc on baat.company_id = bc.id and bc.status = 0
		where 1=1
		<if test="agtAppId!=null and agtAppId!=''">
			and agt_app_id = #{agtAppId}
		</if>
		<if test="null != startTime and  ''!= startTime">
			<![CDATA[and baat.create_time  between #{startTime} and #{endTime} ]]>
		</if>
		<if test="agtAppAccount!=null and agtAppAccount!=''">
			and agt_app_account =#{agtAppAccount}
		</if>
		<if test="null != state and state != -1	">
			and state =#{state}
		</if>
		<if test="null != developAppId and '' != developAppId">
			and develop_app_id = #{developAppId}
		</if>
		<if test="null != companyId and ''!= companyId">
			and company_id = #{companyId}
		</if>
		order by baat.create_time desc
	</select>

	<update id="updateAppAuthInfo" parameterType="com.lfs.admin.model.vo.AppAuthInfoVO">
		update lfs_app_auth_token set
		<if test="null != agtAppId and '' != agtAppId">
			agt_app_id = #{agtAppId},
		</if>
		<if test="null != agtAppAccount and '' != agtAppAccount">
			agt_app_account = #{agtAppAccount},
		</if>
		<if test="null != appAuthToken and  '' != appAuthToken">
			app_auth_token = #{appAuthToken},
		</if>
		<if test="null != accountType and  -1 != accountType">
			account_type = #{accountType},
		</if>
		<if test="null != companyId and  -1 != companyId">
			company_id = #{companyId},
		</if>
		<if test="null != developAppId and  '' != developAppId">
			develop_app_id = #{developAppId},
		</if>
		<if test="null != state and state != -1">
			state = #{state},
		</if>
		update_time = now() where id = #{id}
	</update>

	<insert id="addAppAuthInfo" parameterType="com.lfs.admin.model.vo.AppAuthInfoVO">
		insert into lfs_app_auth_token (agt_app_id,agt_app_account,app_auth_token,develop_app_id,
		company_id,account_type,state,create_time,remark)
		values (#{agtAppId},#{agtAppAccount},#{appAuthToken},#{developAppId},#{state},
		#{companyId},#{accountType},now(),#{remark})
	</insert>

</mapper>