<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfs.admin.dao.ChannelInfoDao">

	<!--客户信息 -->
	<resultMap type="com.lfs.admin.model.entity.ChannelInfoEntity" id="channelMap">
		<id column="channel_num" property="channelNum" jdbcType="VARCHAR" />
		<result column="channel_name" property="channelName" jdbcType="VARCHAR" />
		<result column="adapter_name" property="adapterName" jdbcType="VARCHAR" />
		<result column="passwd" property="passWd" jdbcType="VARCHAR" />
		<result column="merch_id" property="merchId" jdbcType="VARCHAR" />
		<result column="channel_Key" property="channelKey" jdbcType="VARCHAR" />
		<result column="make_order_url" property="makeOrderUrl" jdbcType="VARCHAR" />
		<result column="query_url" property="queryUrl" jdbcType="VARCHAR" />
		<result column="balance_url" property="balanceUrl" jdbcType="VARCHAR" />
		<result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
		<result column="channel_st" property="channelSt" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="free1" property="free1" jdbcType="VARCHAR" />
		<result column="free2" property="free2" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 根据上游供应商编码查询上游供应商 -->
	<select id="selectByPrimaryKey" resultMap="channelMap"
			parameterType="java.lang.String">
		select * from lfs_channel_info where channel_num =
		#{channelNum,jdbcType=VARCHAR}
	</select>

	<!-- 查询上游供应商下拉框 -->
	<select id="querySelectList" resultType="java.util.Map" parameterType="com.lfs.admin.model.vo.ChannelVO">
		select channel_num channelNum,channel_name channelName from lfs_channel_info where channel_st = 1
	</select>

	<!-- 查询上游供应商列表集合-->
	<select id="queryChannelInfoList" resultMap="channelMap" parameterType="com.lfs.admin.model.vo.ChannelVO">
		select * from lfs_channel_info where 1=1
		<if test="null != channelNum and '' != channelNum">
			and channel_num = #{channelNum}
		</if>
		<if test="null != channelName and '' != channelName">
			and channel_name = #{channelName}
		</if>
		<if test="null != channelSt and -1 != channelSt">
			and channel_st = #{channelSt}
		</if>
		order by channel_num desc
	</select>

</mapper>