<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfs.admin.dao.WalletApproveInfoDao">

	<!--客户信息 -->
	<resultMap type="com.lfs.admin.model.entity.WalletApproveInfoEntity" id="agentMap">
		<id property="id" column="id" />
		<result property="agtPhone" column="agt_phone" />
		<result property="cashMoney" column="cash_money" />
		<result property="status" column="status" />
		<result property="operatorId" column="operator_id" />
		<result property="checkTime" column="check_time" />
		<result property="remark" column="remark" />
		<result property="create_id" column="create_id" />
		<result property="create_time" column="create_time" />

	</resultMap>

	<!-- 查询提现申请记录列表详情 -->
	<select id="queryWalletApproveList" parameterType="com.lfs.admin.model.vo.WalletApproveInfoVO" resultType="com.lfs.admin.model.entity.WalletApproveInfoEntity">
		select bwa.id,agt_phone agtPhone,bwa.cash_money cashMoney,
		bsu.login_name operatorName,bwa.operator_id operatorId,bwa.remark,
		date_format(bwa.check_time,'%Y-%m-%d %T') checkTime,
		date_format(bwa.create_time,'%Y-%m-%d %T') createTime,
		bwa.status from lfs_wallet_approve bwa
		left join lfs_system_user bsu on bwa.operator_id = bsu.id
		where 1=1
		<if test="null != checkStartTime and  ''!= checkStartTime">
			<![CDATA[and bwa.check_time  between #{checkStartTime} and #{checkEndTime} ]]>
		</if>
		<if test="null != createStartTime and  ''!= createStartTime">
			<![CDATA[and bwa.create_time  between #{createStartTime} and #{createEndTime} ]]>
		</if>
		<if test="agtPhone!=null and agtPhone!=''">
			and bwa.agt_phone =#{agtPhone}
		</if>
		<if test="null != status and status != -1	">
			and bwa.status =#{status}
		</if>
		order by bwa.create_time desc
	</select>

	<select id="getWalletApproveInfoById" parameterType="com.lfs.admin.model.vo.WalletApproveInfoVO" resultType="com.lfs.admin.model.entity.WalletApproveInfoEntity">
		select id,agt_phone,status from lfs_wallet_approve where id = #{id} for update
	</select>

	<!-- 修改保证金余额和佣金 -->
	<select id="updateAgtWallet" parameterType="map" statementType="CALLABLE">
		{call
		procedure_agt_wallet(#{chargeMoney,mode=IN,jdbcType=DECIMAL},#{agtPhone,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=INTEGER})};
	</select>

	<update id="updateWalletApprove" parameterType="com.lfs.admin.model.vo.WalletApproveInfoVO">
		update lfs_wallet_approve set status = #{status},check_time = now(),operator_id = #{operatorId}
		where agt_phone = #{agtPhone} and id = #{id} and status = 0
	</update>

	<insert id="addWalletApprove" parameterType="com.lfs.admin.model.vo.WalletApproveInfoVO">
		insert into lfs_wallet_approve (agt_phone,cash_money,status,operator_id,create_id,create_time,remark)
		values
		(#{agtPhone},#{cashMoney},0,#{operatorId},#{createId},now(),#{remark})
	</insert>

</mapper>